#  Local .terraform directories
**/.terraform/*
**/Lambda/pymysql/*
**/Lambda/PyMySQL-0.8.0.dist-info/*
**/Lambda/pymysql/*
**/Lambda/test_results/*
**/pytest_cache/*

*.tfstate
*.tfstate.*
*.zip
*.tfvars
